.member__wrap {}
.member__inner {
    @include flex-between;

    .member {
        width: 32%;
        // border: 2px solid var(--color_body);

        .member__header {
            margin-top: -10px;

            img {
                width: 100%;
            }
        }
        .member__body {
            margin-top: -30px;
            padding: 15px 10px;
            background-color: #F4F0EA;
            color: #fff;
            z-index: 100;
            position: relative;

            h4 {
                font-size: 22px;
            }
            a {
                color: #000;
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}
