.movies__wrap {
    overflow: hidden;
}
.movie__inner {
    height: 700px;
    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    p {
        font-size: 24px;
        color: #7e7e7e;
        margin-bottom: 60px;
    }
    a {
        border-radius: 50px;
    }
}
.movie__item {
    @include flex-between;
    margin-top: 70px;
    position: absolute;

    > div {
        width: 268px;

        img {
            width: 100%;
            padding: 0 20px 0 0;
            border-radius: 20px;
        }
    }
}
