/* 헤더 */
#header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: "NanumSquare";
    font-weight: 600;
    box-shadow: 0 1px 15px rgba(116, 116, 116, 0.226);
    z-index: 1000;
}
#header .container {
    /* width: 1080px; */
    height: 100px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.container img {
    padding-bottom: 30px;
    margin-left: 50px;
}
.container ul {
    margin-right: -300px;
    padding-bottom: 20px;
    margin-left: -100px;
}
.container ul li {
    display: inline-block;
    padding: 5px 30px;
}
.container ul li:last-child {
    padding: 5px 0 5px 10px;
}
.container ul li a {
    font-size: 20px;
}
.container .search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    text-align: center;
    margin-right: -100px;
}
.container .search form {
    margin-top: -30px;
    display: flex;
}
.container .search input {
    /* width: 80%; */
    height: 50px;
    background-color: rgba(231, 231, 231, 0.27);
    font-size: 14px;
    border: 0;
    border-radius: 50px;
    padding: 0 30px;
}
.container .ka {
    margin-right: 100px;
}
