/* text__wrap */
.text__wrap {
}
.text__inner {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text__inner .text {
    position: relative;
    width: 32.3333%;
    border: solid 1px #F5F5F5;
    border-radius: 10px;
    padding: 90px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
}
.text__inner .text:hover {
    background-color: #F5F5F5;
}
.text__inner .text::before {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    background-color: rgba(12, 57, 52, 0.7);
    background-image: url(../asset/img/textType01_01.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.text__inner .text.t1::before {
    background-image: url(../../img/icon01.svg);
    background-color: #FF3C3C;
}
.text__inner .text.t2::before {
    background-image: url(../../img/icon02.svg);
    background-color: #6AF953;
}
.text__inner .text.t3::before {
    background-image: url(../../img/icon03.svg);
    background-color: #EFFF37;
}
.text__inner .text.t4::before {
    background-image: url(../../img/icon04.svg);
    background-color: #56FFEB;
}
.text__inner .text.t5::before {
    background-image: url(../../img/icon05.svg);
    background-color: #5690FF;
}
.text__inner .text.t6::before {
    background-image: url(../../img/icon06.svg);
    background-color: #FF56C6;
}
.text__title {
    font-size: 24px;
    margin-bottom: 10px;
}
.text__desc {
    font-size: 16px!important;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
}
.text__btn {
    text-align: right;
    position: relative;
    padding-right: 20px;
}
.text__btn::before {
    content: '';
    background-image: url(../../img/icon07.svg);
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    transition: all 0.3s;
}
.text__btn:hover::before {
    transform : rotate(360deg);
}
.text > a {
    display: block;
}

/* 미디어 쿼리 */
@media (max-width: 960px){
    .text__inner .text {
        width: 49%;

    }
}
@media (max-width: 600px){
    .text__inner .text {
        width: 100%;
        
    }
}