body {
    width: 100%;
    height: 100vh;
    background-color: pink;
    background-image: url(../img/mouseEffect01-min.jpg);
    background-position: center center;
    background-size: cover;
}
body .img01{
    background-image: url(../img/mouseEffect01-min.jpg);
}
body .img02{
    background-image: url(../img/mouseEffect02-min.jpg);
}
body .img03{
    background-image: url(../img/mouseEffect03-min.jpg);
}
body .img04{
    background-image: url(../img/mouseEffect04-min.jpg);
}
body .img05{
    background-image: url(../img/mouseEffect05-min.jpg);
}
body .img06{
    background-image: url(../img/mouseEffect06-min.jpg);
}
body .img07{
    background-image: url(../img/mouseEffect07-min.jpg);
}
body .img08{
    backgr8ound-image: url(../img/mouseEffect08-min.jpg);
}
body .img09{
    background-image: url(../img/mouseEffect09-min.jpg);
}
body .img10{
    background-image: url(../img/mouseEffect10-min.jpg);
}
